* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll-nav {
  position: fixed;
  top: 50%;
  right: 10px;
  opacity: 0;
}

.scroll-nav.fadeIn {
  opacity: 5;
}

.scroll-nav a {
  display: block;
}

.scroll-nav a .fa-square-full {
  font-size: 0.7rem;
}

.scroll-nav::before {
  position: absolute;
  content: "";
  height: 30px;
  border: solid 1px #000000;
  left: 50%;
  bottom: -40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.container .area {
  text-align: center;
}
